[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "poky"]
	path = poky
	url = https://github.com/Wifx/poky.git
	branch = zeus
[submodule "meta-mender"]
	path = layers/meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
[submodule "meta-atmel"]
	path = layers/bsp/meta-atmel
	url = https://github.com/linux4sam/meta-atmel.git
[submodule "meta-openrc"]
	path = layers/meta-openrc
	url = https://github.com/Wifx/meta-openrc.git
[submodule "meta-rust-bin"]
	path = layers/meta-rust-bin
	url = https://github.com/rust-embedded/meta-rust-bin.git
[submodule "meta-clang"]
	path = layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
