[submodule "meta-wifx"]
	path = meta-wifx
	url = https://git.wifx.net/wifx/next/meta-wifx.git
	branch = sumo-openrc
[submodule "meta-wifx-lorix"]
	path = meta-wifx-lorix
	url = https://git.wifx.net/wifx/next/meta-wifx-lorix.git
	branch = sumo
[submodule "meta-wifx-mender"]
	path = meta-wifx-mender
	url = https://git.wifx.net/wifx/next/meta-wifx-mender.git
	branch = sumo-openrc
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = sumo
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = sumo
[submodule "meta-wifx-openrc"]
	path = meta-wifx-openrc
	url = https://git.wifx.net/wifx/next/meta-wifx-openrc.git
	branch = sumo
