[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "poky"]
	path = poky
	url = https://github.com/Wifx/poky.git
	branch = zeus
[submodule "meta-rust-bin"]
	path = meta-rust-bin
	url = https://github.com/rust-embedded/meta-rust-bin.git
