CONFIG_SENSORS_STTS751=y
CONFIG_MFD_WGW_EC_CORE=y
CONFIG_MFD_WGW_EC_I2C=y
CONFIG_MFD_WGW_EC_USBC=y
CONFIG_MFD_WGW_EC_CHARDEV=y
CONFIG_MFD_WGW_EC_SYSFS=y
CONFIG_TYPEC=y
CONFIG_LEDS_WGW_EC=y
CONFIG_LEDS_TRIGGER_USB_DATA_ROLE=y
CONFIG_RTC_DRV_DS1307=y
# CONFIG_RTC_DRV_DS1307_CENTURY is not set
